body{
	text-align: center;
	background-color: rgb(50,50,50);
	/*background-color: #eb9a00;
    */
}


.heading{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-family: Titillium Web;
    font-size: 9em;
    color: #eb9a00;
}


.tour{
    padding: 0;
    margin: 0;
    margin-left: 9em;
    text-align: center;
    font-family: Titillium Web;
    font-size: 4em;
    color: #eb9a00;
}

.svgContainer{
    margin: auto;
    width:75em;
}

#nameGenderScoresPlot{
    display: inline-block;
    transform:scale(1.1);
}
#genderPiePlot{
    display: inline-block;
    vertical-align: top;
    margin-top: 8em;
    margin-left: 5em; 
    margin-right: 5em;
    transform:scale(1.75);
}

#teamIcons{
    vertical-align: top;
    margin-top: 6em;
    display: inline-block;
}

#teamNames{
    vertical-align: top;
    display: inline-block;
    margin-right: 1em;
    margin-top: 5em;
}
#inter{
    display: inline-block;
}

#rankVsRound{
    display: inline-block;
}

#part2{
    margin-top: 5em;
}
/*
.heading{
    position: absolute;
    top: 0;
    left: 12%;
    margin-top: 0;
    text-align: center;
    font-family: Titillium Web;
    font-size: 150px;
    color: #eb9a00;
}


.tour{
    position: absolute;
    top: 150px;
    left:800px;
    text-align: center;
    font-family: Titillium Web;
    font-size: 75px;
    color: #eb9a00;
}


.splotsvg{
    background-color: rgb(50,50,50);
    position: absolute;
    left:100px;
    top:300px;
}

.tplotsvg{
    background-color: rgb(50,50,50);
    position: absolute;
    right: 500px;
    top:700px;
}

.cumulplotsvg{
    background-color: rgb(50,50,50);
    position: absolute;
    right: 500px;
    top:1050px;
}

.rankplotsvg{
    background-color: rgb(50,50,50);
    position: absolute;
    right: 25px;
    top:700px;
}

.namesvg{
    background-color: rgb(50,50,50);
    position: absolute;
    left: 50px;
    top:750px;
}


.genderdistsvg{
    background-color: rgb(50,50,50);
    position: absolute;
    right: 450px;
    top:420px;
    transform : scale(1.5);
}

.toticons{
    background-color: rgb(50,50,50);
    position: absolute;
    right: 100px;
    top:400px;
}
.bricons{
    background-color: rgb(50,50,50);
    position: absolute;
    right: 100px;
    top:500px;
}
*/

.axis path,
.axis line {
    fill: #eb9a00;
    stroke: none;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: Titillium Web;
    font-size: 15px;
    fill: #eb9a00;
}
.no-label text{
display: none;
}